click==8.0.3
Flask==2.0.2
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.4
pyparsing==2.2.0
rdflib==4.2.2
six==1.11.0
SPARQLWrapper==1.8.2
Werkzeug==2.2.3
seaborn==0.11.2
