<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property cake</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

</head>


<body>
<a href="/reexpression" class="btn btn-primary">Re-expression</a>
<a href="/" class="btn btn-danger">Single Distibution</a>
<a href="/compare" class="btn btn-primary">Compare</a>

<form id="cakeform">
<label>Endpoint</label>
<input id="endpoint" type="text" class="form-control" value="{{endpoint}}" name="endpoint"/>
<label>Class</label>
<input id="classes" type="text" class="form-control" value="{{class_uri}}" name="class"/>
<label>Property 1</label>
<input id="properties1" type="text" class="form-control" value="{{property_uri1}}" name="property1"/>
    <label>Property 2</label>
<input id="properties2" type="text" class="form-control" value="{{property_uri2}}" name="property2"/>
<label>Bins</label>
<input type="number" class="form-control" value="{{splits}}" name="num_of_bins"/>


<input type="text" class="form-control" name="compare"/>

    <input type="submit" class="form-control btn btn-primary">
</form>

<canvas id="myChart"></canvas>

<script>

function get_list(jclasses){
        console.log(jclasses);
        var i,l=[];
        for(i=0;i<jclasses.length;i++){
            l.push(jclasses[i]["text"]);
        }
        return l;
    }

  $( "#classes" ).autocomplete({

      source: function(request, response){
         //console.log($( "#classes" ).val());
         var request = $.ajax({
          url: "http://loupe.linkeddata.es/loupe/es/suggestions?dataset=engdbp&s="+$( "#classes" ).val(),
          method: "GET",
          dataType: "json"
        });//ajax

        request.done(function( msg ) {
            //console.log(msg);
            response(get_list(msg));
         });

      }//source
    });//autocomplete


  $( "#properties1" ).autocomplete({

      source: function(request, response){
         var request = $.ajax({
          url: "http://loupe.linkeddata.es/loupe/es/suggestions/property?dataset=engdbp&s="+$( "#properties1" ).val(),
          method: "GET",
          dataType: "json"
        });//ajax

        request.done(function( msg ) {
            //console.log(msg);
            response(get_list(msg));
         });

      }//source
    });//autocomplete

  $( "#properties2" ).autocomplete({

      source: function(request, response){
         var request = $.ajax({
          url: "http://loupe.linkeddata.es/loupe/es/suggestions/property?dataset=engdbp&s="+$( "#properties2" ).val(),
          method: "GET",
          dataType: "json"
        });//ajax

        request.done(function( msg ) {
            //console.log(msg);
            response(get_list(msg));
         });

      }//source
    });//autocomplete


{%if points%}

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: {{labels|safe}},
        datasets: [{
            label: "{{label}} ({{num_of_points1}})",
            borderColor: 'rgb(255, 99, 132)',
            data: {{points1}}
        },
        {
            label: "{{label2}} ({{num_of_points2}})",
            borderColor: 'rgb(99,132,255)',
            data: {{points2}}
        }]
    },

    // Configuration options go here
    options: {}
});
{%endif%}

</script>
</body>
</html>
