<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property cake</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

</head>


<body>
<!--<label>Tags</label>-->
<!--<input id="tags" type="text" class="form-control"/>-->

<form>

<label>Class</label>
<input id="classes" type="text" class="form-control" name="class"/>
<label>Property</label>
<input id="properties" type="text" class="form-control" name="property"/>
<input type="submit" class="form-control btn btn-warning">
</form>

<canvas id="myChart"></canvas>

<script>
$( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );

function get_list(jclasses){
        console.log(jclasses);
        var i,l=[];
        for(i=0;i<jclasses.length;i++){
            l.push(jclasses[i]["text"]);
        }
        return l;
    }

  $( "#classes" ).autocomplete({

      source: function(request, response){
         //console.log($( "#classes" ).val());
         var request = $.ajax({
          url: "http://loupe.linkeddata.es/loupe/es/suggestions?dataset=engdbp&s="+$( "#classes" ).val(),
          method: "GET",
          dataType: "json"
        });//ajax

        request.done(function( msg ) {
            //console.log(msg);
            response(get_list(msg));
         });

      }//source
    });//autocomplete


  $( "#properties" ).autocomplete({

      source: function(request, response){
         var request = $.ajax({
          url: "http://loupe.linkeddata.es/loupe/es/suggestions/property?dataset=engdbp&s="+$( "#properties" ).val(),
          method: "GET",
          dataType: "json"
        });//ajax

        request.done(function( msg ) {
            //console.log(msg);
            response(get_list(msg));
         });

      }//source
    });//autocomplete


/*
http://loupe.linkeddata.es/loupe/es/suggestions?dataset=engdbp&s=person
http://loupe.linkeddata.es/loupe/es/suggestions/property?dataset=engdbp&s=height
*/

{%if points%}

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: {{labels|safe}},
        //labels: [1,2,3],
        //labels: [12,50,100,700],
        datasets: [{
            //label: "My First dataset",
            label: "{{label}}",
            borderColor: 'rgb(255, 99, 132)',
            data: {{points}}
            //data: [{y: 97, x: 700}, {y: 2, x: 100}, {y: 10, x: 12}, {y: 90, x: 50}]

            //data: {{points |safe }},
            //data: [0, 10, 5, 2, 20, 30, 45],
        }]
    },

    // Configuration options go here
    options: {}
});
{%endif%}


</script>
</body>
</html>